<%- include('partials/head.ejs') %>
    <h1>NASA Picture of the Day</h1>
     <%- include('partials/nav.ejs') %>

    <h2><%-nasa.title%></h2>
    <img src="<%-nasa.url%>" alt="NASA Picture of the Day">
    <p><%-nasa.explanation%></p>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>
