    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Comets</h2>
    <img src="<%=   planetComets.image  %>">
    <br>
    <%= planetComets.def %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
