<style>
    body{ 
        background-image: url("<%= image %>");
        background-size: cover;
    }
</style>

<%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>

    <img src="/img/solar-system.jpg">
    <br>

    <h2>NASA Picture of the Day</h2>
    <h3><%= nasa.title %></h3>

    <h2>NASA Picture of the Day</h2>

    <h3><%= nasa.title %></h3>

    <img src="<%= nasa.url %>" alt="NASA Picture of the Day">

    <p><%= nasa.explanation %></p>

    <p><%= nasa.explanation %></p>
    
    
    <%- include('partials/footer.ejs') %>
</body>
</html>
