    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Jupiter</h2>
    <img src="<%=   planetJupiter.image  %>">
    <br>
    <p><%= planetJupiter.description %></p>
    <p>Distance From Sun: <%= planetJupiter.distanceFromSun %></p>
    <p>Year Length: <%= planetJupiter.yearLength %></p>
    <p>Radius: <%= planetJupiter.radius %></p>
    <p>One Earth Day: <%= planetJupiter.oneEarthDay %></p>
    <p>Moons: <%= planetJupiter.moons %></p>
    <a href="<%= planetJupiter.websiteLink %>">Link:Learn More</a>

     <%- include('partials/footer.ejs') %>

</body>
</html>


