    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Jupiter</h2>
    <img src="<%=   planetJupiter.image  %>">
    <br>
    <%= planetJupiter.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
