    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Mars</h2>
    <img src="<%=   planetMars.image  %>">
    <br>
    <%= planetMars.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
