    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Mercury</h2>
    <img src="<%=   planetMercury.image  %>">
    <br>
    <p><%= planetMercury.description %></p>
    <p>Distance From Sun: <%= planetMercury.distanceFromSun %></p>
    <p>Year Length: <%= planetMercury.yearLength %></p>
    <p>Radius: <%= planetMercury.radius %></p>
    <p>One Earth Day: <%= planetMercury.oneEarthDay %></p>
    <p>Moons: <%= planetMercury.moons %></p>
    <a href="<%= planetMercury.websiteLink %>">Link:Learn More</a>

    <%- include('partials/footer.ejs') %>

</body>
</html>
