    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Meteorites</h2>
    <img src="<%=   planetMeteorite.image  %>">
    <br>
    <%= planetMeteorite.meteors %>
    <%= planetMeteorite.meteorite %>
    <%= planetMeteorite.meteorShowers %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
