    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Meteorites</h2>
    <img src="<%=   planetMeteorite.image  %>">
    <br>
   <p><%= planetMeteorite.meteors %></p>
   <p><%= planetMeteorite.meteorite %></p>
   <p><%= planetMeteorite.meteorShowers %></p>

        <%- include('partials/footer.ejs') %>

</body>
</html>
