    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Neptune</h2>
    <img src="<%=   planetNeptune.image  %>">
    <br>
    <%= planetNeptune.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
