    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Saturn</h2>
    <img src="<%=   planetSaturn.image  %>">
    <br>
    <%= planetSaturn.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
