    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Sun</h2>
    <img src="<%=   planetSun.image  %>">
    <br>
 <p><%= planetSun.description %></p>

        <%- include('partials/footer.ejs') %>

</body>
</html>
