    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Uranus</h2>
    <img src="<%=   planetUranus.image  %>">
    <br>
    <%= planetUranus.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
