    <%- include('partials/head.ejs') %>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2>Planet Venus</h2>
    <img src="<%=   planetVenus.image  %>">
    <br>
    <%= planetVenus.description %>

        <%- include('partials/footer.ejs') %>

</body>
</html>
